#dash {
    margin-left:100px;
    margin-right:100px;
  }
    #page {
    margin-left:120px;
    margin-right:120px;
    width:1200px;
    }
    #container {
      width: 1000px;
      height: 700px;
      margin-left:auto;
      margin-right:auto;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(91, 108, 123);
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #111;
    }
