#dash {
    margin-left:100px;
    margin-right:100px;
  }
    #page {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    }
    #page4 {
      margin-left:auto;
      margin-right:auto;
      width:90%;
      }
    #container {
      width: 1000px;
      height: 700px;
      margin-left:auto;
      margin-right:auto;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    /* nav bar */
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    body {font-family: Arial;}

    .button {
      background-color: #1ca1c9;
      border: none;
      color: white;
      padding: 20px 34px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin-left:auto;
      margin-right:auto;
      cursor: pointer;
      width:85%;
    }


    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
    }
    
    html {
      box-sizing: border-box;
    }
    
    *, *:before, *:after {
      box-sizing: inherit;
    }
    
    .column {
      float: left;
      width: 25%;
      margin-bottom: 16px;
      /* padding: 0 8px; */
    }
    
    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .container {
      /* padding: 0 10px; */
      background-color: #89b9c8;
      width: 100%

    }
    
    .container::after, .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .title {
      color: rgb(95, 92, 92);
    }
    
    .button2 {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: rgb(34, 122, 124);
      text-align: center;
      cursor: pointer;
      width: 20%;
    }
    
    .button:hover {
      background-color: #555;
    }
    div.molecular {
      background-color: white;
      padding: 10px;
      border: 2px solid black;
      opacity: 0.6;
      margin-left:auto;
      margin-right:auto;
      width:730px;
      height:230px;
    }

 
